{% extends 'main.html' %}
  
{% block content %}
  <!-- Main Section -->
  <main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">New Messages(<span>{{unread_message}}</span>)</h3>
      <ul class="messages">
      {% for messages in messagequery %}
        {% if messages.is_read == False  %}
        <li class="message message--unread">
          {% else %}
          <li class="message">
            {% endif %}
          <a href="{% url 'messagecenter' messages.id %}">
            <span class="message__author">{{messages.name}}</span>
            <span class="message__subject">{{messages.subject}}</span>
            <span class="message__date">{{messages.created}}</span>
          </a>
        </li>
    
       {% endfor %}
     
      </ul>
    </div>
  </main>

  {% endblock %}
