{% extends "main.html" %}
{% load static %}

{% block content%}
{% if page == 'register'%}

<div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="/">
          <img src="{% static 'images/icon.svg'%}" alt="icon" />
        </a>
        <h3>Account SignUp</h3>
        <p>Create a new developer account</p>
      </div>
      <form action="{% url 'Register' %}" method = "POST" class="form auth__form">
        {% csrf_token %}
        {% for field in form %}
        <div class="form__field">
          <label for="formInput#text">{{field.label}} </label>
        {{field}}
        {% for error in field.errors%}
     
        <span style="color : red">{{error}}</span>
        
        {% endfor %}
        
        </div>
        {% endfor %}
        <input class="btn btn--sub btn--lg" type="submit" value="Sign  In" />
          </div>
        </form>
        <div class="auth__alternative">
          <p>Already have an Account?</p>
          <a href="{% url 'loginpage'%}">Log In</a>
      </form>
{% else %}
<div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="/">
          <img src="{% static  'images/icon.svg'%}" alt="icon" />
        </a>
        <h3>Account Login</h3>
        <p>Hello Developer, Welcome Back!</p>
      </div>

      <form action="" method="POST"  class="form auth__form">
        {% csrf_token %}
        <!-- Input:Email -->
        <div class="form__field">
          <label for="formInput#text">Username: </label>
          <input
            class="input input--text"
            id="formInput#text"
            type="text"
            name="username"
            placeholder="Enter your username..."
          />
        </div>

        <!-- Input:Password -->
        <div class="form__field">
          <label for="formInput#password">Password: </label>
          <input
            class="input input--password"
            id="formInput#passowrd"
            type="password"
            name="password"
            placeholder="••••••••"
          />
        </div>
        <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
      </form>
      <div class="auth__alternative">
        <p>Don’t have an Account?</p>
        <a href="{% url 'Register'%}">Sign Up</a>
        <div class="auth__alternative">
          <p>Don’t have an Account?</p>
          <a href="{% url 'reset_password'%}">Forgotten password</a>
      {% endif %}
       
{% endblock %}