{% extends 'main.html' %}

{% block content %}


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="#"><i class="im im-angle-left"></i></a>
            <br>

            <form class="form" method="POST">
             {% csrf_token %}
               <p>do you want to delete {{projects}}</p>

          
                
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                <a class="btn btn--sub btn--lg " href="{{request.GET.next}}">Go BACK</a>
            </form>
        </div>
    </div>
</main>
{% endblock content %}