{% extends 'main.html'%}
{% load static%}

{% block content %}


<hr>
<main class="singleProject my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <h3 class="singleProject__subtitle">Tools & Stacks</h3>
          <div class="singleProject__toolStack">
           {% for tag in project.tags.all %}
            <span class="tag tag--pill tag--sub tag--lg">
              <small>{{tag}}</small>
            </span>
            {% endfor %}
          
         
           
         
          
      
          
         
          </div>
          {% if project.source_code %}
          <a class="singleProject__liveLink" href="#" target="_blank"><i class="im im-external-link"></i>{{project.source_code}}
          </a>
          {% endif %}
        </div>
        <div class="column column--2of3">
          <img class="singleProject__preview" src="{{project.ImageURL}}" alt="{{project.name}}" />
          <a href="profile.html" class="singleProject__developer"></a>
          <h2 class="singleProject__title">{{project.name}}</h2>
          <h3 class="singleProject__subtitle">About the Project</h3>
          <div class="singleProject__info">
         {{project.about}}

          
          </div>
          
          <div class="comments">
            <h3 class="singleProject__subtitle">Feedback</h3>
            <h5 class="project--rating">
             {{project.vote_ratio}}% Postitive Feedback ({{project.vote_total}} votes)
            </h5>
            {% if request.user.profile.id in project.getreviewers %}
            <p> You have given a review already </p>
            {% elif request.user.profile == project.owner %}
            <p>Owner cannot vote</p>
            {% elif request.user.is_authenticated %}
             <form class="form" action="{% url 'room' project.id %}"  method="POST">
              {% csrf_token %}
              {% for field in form %}
              <div class="form__field">
                
              <label for="formInput#textarea">{{field.label}}</label>

              {{field}}
                
              </div>
              {% endfor %}
              <input class="btn btn--sub btn--lg" type="submit" value="Comment" />
             </form>
             {% else %}
             <a href="{% url 'loginpage'%}?next={{request.path}}">Please login to make a review</a>
            {% endif %}
            {% for review in project.review_set.all %}
            {% if review.description %}
            <div class="commentList">
              
              <div class="comment">
                <a href="{% url 'user-profile' review.owner.id %}">
                  <img class="avatar avatar--md"
                    src="{{review.owner.ImageURL}}" alt="user" />
                </a>
                <div class="comment__details">
                  <a href="{% url 'user-profile' review.owner.id  %}" class="comment__author">{{review.owner.username}}</a>
                  <p class="comment__info">
                    {{review.description}}
                  </p>
                </div>
               
              </div>
              {% endif %}
              {% endfor %}
               
             </div>
            
          </div>
       
        </div>
      </div>
    </div>
    </div>
  </main>

{% endblock %}